@import "tailwindcss";

@keyframes gradientFlow {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.bg-animated-gradient {
  background: linear-gradient(
    135deg,
    rgba(255, 0, 128, 0.35),
    rgba(0, 204, 255, 0.35),
    rgba(154, 52, 255, 0.35),
    rgba(255, 183, 0, 0.303)
  );
  background-size: 300% 300%;
  animation: gradientFlow 5s ease-in-out infinite;
  border-radius: 1rem;
  box-shadow: 0 0 25px rgba(255, 0, 128, 0.2),
              0 0 40px rgba(0, 204, 255, 0.2),
              0 0 60px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(22px);
  -webkit-backdrop-filter: blur(22px);
}

.text-glow-white {
    text-shadow:
      0 0 5px rgba(255, 255, 255, 0.3),
      0 0 10px rgba(255, 255, 255, 0.3),
      0 0 15px rgb(255, 255, 255,0.9);
  }

  .text-glow-pink {
    text-shadow:
      0 0 5px #ff00aa,
      0 0 10px #ff00aa,
      0 0 20px #ff00aa;
  }

  .pop-animation{
    animation: pop 0.3s ease-in-out;
  }